In [1]:
import pandas as pd
import numpy as np

In [3]:
dframe=pd.read_csv("title.principals.tsv",sep='\t')

In [4]:
dframe

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Herself""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N
5,tt0000003,1,nm0721526,director,\N,\N
6,tt0000003,2,nm5442194,producer,producer,\N
7,tt0000003,3,nm1335271,composer,\N,\N
8,tt0000003,4,nm5442200,editor,\N,\N
9,tt0000004,1,nm0721526,director,\N,\N
10,tt0000004,2,nm1335271,composer,\N,\N
11,tt0000005,1,nm0443482,actor,\N,"[""Blacksmith""]"
12,tt0000005,2,nm0653042,actor,\N,"[""Assistant""]"
13,tt0000005,3,nm0005690,director,\N,\N
14,tt0000005,4,nm0249379,producer,producer,\N
15,tt0000006,1,nm0005690,director,\N,\N
16,tt0000007,1,nm0179163,actor,\N,\N
17,tt0000007,2,nm0183947,actor,\N,\N
18,tt0000007,3,nm0005690,director,\N,\N
19,tt0000007,4,nm0374658,director,\N,\N
20,tt0000007,5,nm0249379,producer,producer,\N
21,tt0000008,1,nm0653028,actor,\N,"[""Sneezing Man""]"
22,tt0000008,2,nm0005690,director,\N,\N
23,tt0000008,3,nm0374658,cinematographer,\N,\N
24,tt0000009,1,nm0063086,actress,\N,"[""Miss Geraldine Holbrook (Miss Jerry)""]"
25,tt0000009,2,nm0183823,actor,\N,"[""Mr. Hamilton""]"
26,tt0000009,3,nm1309758,self,\N,"[""Himself - the Director of the New York Centr..."
27,tt0000009,4,nm0085156,director,\N,\N
28,tt0000010,1,nm0525910,director,\N,\N
29,tt0000011,1,nm3692297,actor,\N,"[""Acrobats""]"
...,...,...,...,...,...,...
33269655,tt9916892,10,nm6062656,cinematographer,director of photography,\N
33269656,tt9916892,1,nm7495853,actress,\N,"[""Hayat""]"
33269657,tt9916892,2,nm6541188,actor,\N,"[""Murat Sarsilmaz""]"
33269658,tt9916892,3,nm1941705,director,\N,\N
33269659,tt9916892,4,nm8181479,writer,\N,\N
33269660,tt9916892,5,nm8181480,writer,\N,\N
33269661,tt9916892,6,nm8119743,writer,\N,\N
33269662,tt9916892,7,nm3114985,producer,producer,\N
33269663,tt9916892,8,nm6812444,composer,\N,\N
33269664,tt9916892,9,nm3249786,composer,\N,\N
33269665,tt9916894,10,nm6062656,cinematographer,director of photography,\N
33269666,tt9916894,1,nm7495853,actress,\N,"[""Hayat""]"
33269667,tt9916894,2,nm6541188,actor,\N,"[""Murat Sarsilmaz""]"
33269668,tt9916894,3,nm1941705,director,\N,\N
33269669,tt9916894,4,nm8181479,writer,\N,\N
33269670,tt9916894,5,nm8181480,writer,\N,\N
33269671,tt9916894,6,nm8119743,writer,\N,\N
33269672,tt9916894,7,nm3114985,producer,producer,\N
33269673,tt9916894,8,nm6812444,composer,\N,\N
33269674,tt9916894,9,nm3249786,composer,\N,\N
33269675,tt9916896,10,nm6062656,cinematographer,director of photography,\N
33269676,tt9916896,1,nm7495853,actress,\N,"[""Hayat""]"
33269677,tt9916896,2,nm6541188,actor,\N,"[""Murat Sarsilmaz""]"
33269678,tt9916896,3,nm1941705,director,\N,\N
33269679,tt9916896,4,nm8181479,writer,\N,\N
33269680,tt9916896,5,nm8181480,writer,\N,\N
33269681,tt9916896,6,nm8119743,writer,\N,\N
33269682,tt9916896,7,nm3114985,producer,producer,\N
33269683,tt9916896,8,nm6812444,composer,\N,\N
33269684,tt9916896,9,nm3249786,composer,\N,\N

In [5]:
dframe[['job','characters']]=dframe[['job','characters']].replace('\\N',np.nan)

In [7]:
dframe.isnull().sum()

tconst               0
ordering             0
nconst               0
category             0
job           27779059
characters    16198302
dtype: int64

In [8]:
dframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33269685 entries, 0 to 33269684
Data columns (total 6 columns):
tconst        object
ordering      int64
nconst        object
category      object
job           object
characters    object
dtypes: int64(1), object(5)
memory usage: 1.5+ GB

In [9]:
dframe[['category']]=dframe[['category']].replace('\\N',np.nan)

In [10]:
dframe.isnull().sum()

tconst               0
ordering             0
nconst               0
category             0
job           27779059
characters    16198302
dtype: int64

In [19]:
dframe.drop(labels='job',axis=1,inplace=True)

In [21]:
dframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33269685 entries, 0 to 33269684
Data columns (total 5 columns):
tconst        object
ordering      int64
nconst        object
category      object
characters    object
dtypes: int64(1), object(4)
memory usage: 1.2+ GB

In [22]:
dframe.isnull().sum()

tconst               0
ordering             0
nconst               0
category             0
characters    16198302
dtype: int64

In [23]:
dframe['characters'].nunique()

2115616

In [24]:
dframe

,tconst,ordering,nconst,category,characters
0,tt0000001,1,nm1588970,self,"[""Herself""]"
1,tt0000001,2,nm0005690,director,NaN
2,tt0000001,3,nm0374658,cinematographer,NaN
3,tt0000002,1,nm0721526,director,NaN
4,tt0000002,2,nm1335271,composer,NaN
5,tt0000003,1,nm0721526,director,NaN
6,tt0000003,2,nm5442194,producer,NaN
7,tt0000003,3,nm1335271,composer,NaN
8,tt0000003,4,nm5442200,editor,NaN
9,tt0000004,1,nm0721526,director,NaN
10,tt0000004,2,nm1335271,composer,NaN
11,tt0000005,1,nm0443482,actor,"[""Blacksmith""]"
12,tt0000005,2,nm0653042,actor,"[""Assistant""]"
13,tt0000005,3,nm0005690,director,NaN
14,tt0000005,4,nm0249379,producer,NaN
15,tt0000006,1,nm0005690,director,NaN
16,tt0000007,1,nm0179163,actor,NaN
17,tt0000007,2,nm0183947,actor,NaN
18,tt0000007,3,nm0005690,director,NaN
19,tt0000007,4,nm0374658,director,NaN
20,tt0000007,5,nm0249379,producer,NaN
21,tt0000008,1,nm0653028,actor,"[""Sneezing Man""]"
22,tt0000008,2,nm0005690,director,NaN
23,tt0000008,3,nm0374658,cinematographer,NaN
24,tt0000009,1,nm0063086,actress,"[""Miss Geraldine Holbrook (Miss Jerry)""]"
25,tt0000009,2,nm0183823,actor,"[""Mr. Hamilton""]"
26,tt0000009,3,nm1309758,self,"[""Himself - the Director of the New York Centr..."
27,tt0000009,4,nm0085156,director,NaN
28,tt0000010,1,nm0525910,director,NaN
29,tt0000011,1,nm3692297,actor,"[""Acrobats""]"
...,...,...,...,...,...
33269655,tt9916892,10,nm6062656,cinematographer,NaN
33269656,tt9916892,1,nm7495853,actress,"[""Hayat""]"
33269657,tt9916892,2,nm6541188,actor,"[""Murat Sarsilmaz""]"
33269658,tt9916892,3,nm1941705,director,NaN
33269659,tt9916892,4,nm8181479,writer,NaN
33269660,tt9916892,5,nm8181480,writer,NaN
33269661,tt9916892,6,nm8119743,writer,NaN
33269662,tt9916892,7,nm3114985,producer,NaN
33269663,tt9916892,8,nm6812444,composer,NaN
33269664,tt9916892,9,nm3249786,composer,NaN
33269665,tt9916894,10,nm6062656,cinematographer,NaN
33269666,tt9916894,1,nm7495853,actress,"[""Hayat""]"
33269667,tt9916894,2,nm6541188,actor,"[""Murat Sarsilmaz""]"
33269668,tt9916894,3,nm1941705,director,NaN
33269669,tt9916894,4,nm8181479,writer,NaN
33269670,tt9916894,5,nm8181480,writer,NaN
33269671,tt9916894,6,nm8119743,writer,NaN
33269672,tt9916894,7,nm3114985,producer,NaN
33269673,tt9916894,8,nm6812444,composer,NaN
33269674,tt9916894,9,nm3249786,composer,NaN
33269675,tt9916896,10,nm6062656,cinematographer,NaN
33269676,tt9916896,1,nm7495853,actress,"[""Hayat""]"
33269677,tt9916896,2,nm6541188,actor,"[""Murat Sarsilmaz""]"
33269678,tt9916896,3,nm1941705,director,NaN
33269679,tt9916896,4,nm8181479,writer,NaN
33269680,tt9916896,5,nm8181480,writer,NaN
33269681,tt9916896,6,nm8119743,writer,NaN
33269682,tt9916896,7,nm3114985,producer,NaN
33269683,tt9916896,8,nm6812444,composer,NaN
33269684,tt9916896,9,nm3249786,composer,NaN

In [25]:
dframe2=dframe

In [26]:
dframe.set_index('tconst',inplace=True)

In [27]:
dframe

,ordering,nconst,category,characters
tconst,,,,
tt0000001,1,nm1588970,self,"[""Herself""]"
tt0000001,2,nm0005690,director,NaN
tt0000001,3,nm0374658,cinematographer,NaN
tt0000002,1,nm0721526,director,NaN
tt0000002,2,nm1335271,composer,NaN
tt0000003,1,nm0721526,director,NaN
tt0000003,2,nm5442194,producer,NaN
tt0000003,3,nm1335271,composer,NaN
tt0000003,4,nm5442200,editor,NaN
tt0000004,1,nm0721526,director,NaN
tt0000004,2,nm1335271,composer,NaN
tt0000005,1,nm0443482,actor,"[""Blacksmith""]"
tt0000005,2,nm0653042,actor,"[""Assistant""]"
tt0000005,3,nm0005690,director,NaN
tt0000005,4,nm0249379,producer,NaN
tt0000006,1,nm0005690,director,NaN
tt0000007,1,nm0179163,actor,NaN
tt0000007,2,nm0183947,actor,NaN
tt0000007,3,nm0005690,director,NaN
tt0000007,4,nm0374658,director,NaN
tt0000007,5,nm0249379,producer,NaN
tt0000008,1,nm0653028,actor,"[""Sneezing Man""]"
tt0000008,2,nm0005690,director,NaN
tt0000008,3,nm0374658,cinematographer,NaN
tt0000009,1,nm0063086,actress,"[""Miss Geraldine Holbrook (Miss Jerry)""]"
tt0000009,2,nm0183823,actor,"[""Mr. Hamilton""]"
tt0000009,3,nm1309758,self,"[""Himself - the Director of the New York Centr..."
tt0000009,4,nm0085156,director,NaN
tt0000010,1,nm0525910,director,NaN
tt0000011,1,nm3692297,actor,"[""Acrobats""]"
...,...,...,...,...
tt9916892,10,nm6062656,cinematographer,NaN
tt9916892,1,nm7495853,actress,"[""Hayat""]"
tt9916892,2,nm6541188,actor,"[""Murat Sarsilmaz""]"
tt9916892,3,nm1941705,director,NaN
tt9916892,4,nm8181479,writer,NaN
tt9916892,5,nm8181480,writer,NaN
tt9916892,6,nm8119743,writer,NaN
tt9916892,7,nm3114985,producer,NaN
tt9916892,8,nm6812444,composer,NaN
tt9916892,9,nm3249786,composer,NaN
tt9916894,10,nm6062656,cinematographer,NaN
tt9916894,1,nm7495853,actress,"[""Hayat""]"
tt9916894,2,nm6541188,actor,"[""Murat Sarsilmaz""]"
tt9916894,3,nm1941705,director,NaN
tt9916894,4,nm8181479,writer,NaN
tt9916894,5,nm8181480,writer,NaN
tt9916894,6,nm8119743,writer,NaN
tt9916894,7,nm3114985,producer,NaN
tt9916894,8,nm6812444,composer,NaN
tt9916894,9,nm3249786,composer,NaN
tt9916896,10,nm6062656,cinematographer,NaN
tt9916896,1,nm7495853,actress,"[""Hayat""]"
tt9916896,2,nm6541188,actor,"[""Murat Sarsilmaz""]"
tt9916896,3,nm1941705,director,NaN
tt9916896,4,nm8181479,writer,NaN
tt9916896,5,nm8181480,writer,NaN
tt9916896,6,nm8119743,writer,NaN
tt9916896,7,nm3114985,producer,NaN
tt9916896,8,nm6812444,composer,NaN
tt9916896,9,nm3249786,composer,NaN

In [28]:
result=dframe

In [29]:
result.to_csv("Desktop/principals_crewinfo.csv")